# ignore everything in the root except the "wp-content" directory.
!wp-content/

# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
wp-content/*
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/

# ignore these plugins
plugins/hello.php
plugins/akismet/
plugins/classic-editor/
plugins/wp-lazy-loading/
plugins/simple-X-Plugin/
plugins/TB-Crew/
plugins/what-the-file/
plugins/wordpress-importer/
plugins/updraftplus/
plugins/antispam-bee/
plugins/backup-backup/
plugins/backup-migration*/
plugins/koko-analytics/
plugins/wp-mail-smtp/
plugins/simple-lightbox/

# ignore specific themes
themes/twenty*/
themes/theme-*/

# ignore my backups
backup/

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite
